.dark-theme {
  --theme-bg-default: #161B22;
  --theme-bg-subtle: #0D1117;
  --theme-bg-muted: #1E2A3B;
  --theme-fg-default: #ffffff;
  --theme-fg-on-accent: #ffffff;
  --theme-fg-muted: #E2E8F0;
  --theme-fg-subtle: #64748B;
  --theme-fg-subtle2: #475569;
  --theme-accent-default: #6475f7;
  --theme-accent-subtle: #539cf51a;
  --theme-accent-red: #df1642;
  --theme-accent-redsubtle: #59091a;
  --theme-border-default: #1E2A3B;
}