.light-theme {
  --theme-bg-default: #ffffff;
  --theme-bg-subtle: #F6F8FC;
  --theme-bg-muted: #F1F4F9;
  --theme-fg-default: #171717;
  --theme-fg-on-accent: #ffffff;
  --theme-fg-muted: #27364B;
  --theme-fg-subtle: #475569;
  --theme-fg-subtle2: #64748B;
  --theme-accent-default: #3d53f5;
  --theme-accent-subtle: #eceefe;
  --theme-accent-red: #df1642;
  --theme-accent-redsubtle: #f9d0d9;
  --theme-border-default: #E2E8F0;
}